
{#<div class="box box-info">#}
    {#<div class="box-header">#}
      {#<h1> Job Details</h1>#}
    {#</div>#}
    {#<div class="box-body">#}
        {#{{ job.cost }}#}
    {#</div>#}
    {#<div class="box-footer">#}

    {#</div>#}
{#</div>#}

<div class="info-box bg-yellow">
    <span class="info-box-icon"><i class="fa fa-usd"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Job Cost</span>
        <span class="info-box-number">$ {{ job.cost|round(2) }}</span>

        <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
                  <span class="progress-description">

                  </span>
    </div>
    <!-- /.info-box-content -->
</div>

<!-- Info Boxes Style 2 -->
<div class="info-box bg-yellow">
    <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Hours assigned</span>
        <span class="info-box-number">{{ job.hours|round(2) }}</span>

        <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
                  <span class="progress-description">

                  </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
<div class="info-box bg-yellow">
    <span class="info-box-icon"><i class="fa fa-paint-brush"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">Material cost</span>
        <span class="info-box-number">$ {{ job.materials|round(2) }}</span>

        <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
                  <span class="progress-description">

                  </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->


<!-- /.info-box -->

